.title {
    color: aliceblue;
    margin-left: 30px;
    font-size: 40px;
}

.item {
    color: aliceblue;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardContainer {
    width: 800px;
    margin-bottom: 30px;
}

.name {
    color: rgb(14, 124, 124);
    font-size: 32px;
    margin-bottom: 5px;
}

.subtitle {
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 26px;
}

.item {
    font-size: 18px;
}

.btn {
    background-color: transparent;
    color: aliceblue;
    border-radius: 4px;
    border-color: rgb(240, 248, 255, 0.4);
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
}